.App {
}

.options {
  display: flex;
}

.active-btn {
  background-color: brown;
}

.inactive-btn {
  background-color: gainsboro;
}

.base-btn {
  width: 100px;
  height: 30px;
}

.form-error {
  color: red;
}

